*{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}

#navbar{
    padding: 24px 0 0 0;
    height: 60px;
    background-color: #05f7f7;
    
}
#logo{
    /* padding: 200px; */
    margin: 0 200px 0 0;
    font-size: 25px;
    color: #f08804;
}
a{
    margin: 0 178px 0 0;
    text-decoration: none;

}
button{
    color: white;
    background-color: #f08804;

}




.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
#content{
    height: 490px;
}
footer{
    background-color:#05f7f7;
    text-align: center;
}